language: node_js
node_js:
- 14
notifications:
  email:
    on_success: change
    on_failure: always
install:
- npm ci
script:
- npm run build
deploy:
  skip_cleanup: true
  provider: firebase
  token:
    secure: YuaC2qKaoyCn38Zkfyc0rH2osacy1faocewbu3G+3KzxCRAwhi6cNfzFSbFIJtQSfwgm0B9dXfsBrQBdhesBVR4E/7oGVsjCjufQuZlkpDu7FIuiq5Drj55fdFYYQEX92J9EKfl0OBl9ivIDaeiCfKiiru4s1O12DwWcR3mMWth1ezYULdcyK24Ei+8qALn7PysaYotin3VH2K9UXX0MAs86GowSAid5ZhGatS3Xjg3HuvaQNZqIA1AlyNMQKm0L0fHiCD0U+2r1rgfpTiLlluIxm22l9z3JSb1kcc6SkiHYBxj6DGY9t7p9WIj+5oAPlvj6e0SgRTITqX61nSgxwPwWWLsyKhXqTi1PCkNic1aRdb31QLFhZkxkir0FjvCbAmxYuIuyaZLpF9JcY5QIFSQrpessvYIbRw0T1XxG0666/RfS4Q5BOeUmZBbrI+mBeOIlDGZxqXctNt1ktyJCv11lLiuTHCkUVzDOioGrPSiDEj+sw3l0mWhgwPaRwdl+m7C5b5t68WZJLLeWamL2tS9YNiVkawE9V+4t0ShDxs0PnihiGmyqk8s0wFbDKc96cJdcjehmNpaDQVnSIiEsyvbJgow5okgRa1R9GKG5Seqmiq+y4HnLVeyL5awfOGK0FbscpCmsKXF4V7vj/sa341H2Atwmw8nzzmXOZVvoSc0=
env:
  global:
    secure: mYQBt+tzfu5QhEr4qpJ/dy2Yzpmk6uhtVYOXO++x+HEIhPcnRoWB7YITRjSvAOHdNmb5rpHKnL7fmY3CLJ2xtGMuw8dDk2XpDzXKSg1MdIFp0A0zT5VJU8CmscsCnISAPryjP3GPD1ZflZ3bRm6K/mpgac/7NXbEIQg3bwUjUwf+/6TVVqS8KX4oughTzJskjWYKiksGze198y/CODn6BwBTtJ1hov3xwyGlsP22/EImA6aqG254bxtDtNCdkyIloiObMPa/gU8ZsMxNbVzNqFa+g8RY97VvXqSLjSc0MVGazsWreZz1dC+L0DrPK8pinkQCCa3l73LcMd8oJqn4N6F5xRbwOVKaoAfdUKt3k8OEZ2R3C7p5ESDAitvNL0YHvOeeB+oyWHdqbjmRd51DG5pDKhhTKFDDHOeo4BlZunZTM2qY00gvrwwcCPJmT1vs3cwvcfUB6YN74MCPOGrftsQiWCphi2647hcR8QvG6nma6llju/KJT0DdRAJfCRwBSvq3/dQfM9uyPlXd+oKXZn888pW8h43ONg3SBtG0znD8tR7Ml7ZXVrdePnhULSkN8IytBfEPM6nGiv02MRMavjGXYlp7Rfpv4sXuDbvytGwDTXKWC8XdigRqmrswnr27Z9V7DYH4+iNwLg48STFiVYJkZiqCwJZsA2YsEyUkYnA=
