language: node_js
node_js:
  - 14
notifications:
  email:
    on_success: change
    on_failure: always
install:
  - npm ci
script:
  - npm run build
deploy:
  provider: firebase
env:
  global:
    secure:
      - FIREBASE_TOKEN = MW9l8n65ka02VBDsF3wS8rCcdCgAQzMEvVFr9yJuc0/2ToWHe9wKEqcgjkt6aqIgpK01RzXhGypHyCZl/fNOuOIzBl9RDBigpOe/Xe8Ngul1DDz17XZNtwqO7nZUzCTZoedl0zh6/q9ny/BBW8ycSlrV21/z6OD62nvl6doAdZrVLrBSKfSfVWB23Gy1bBLOQXe9FQRN59kCZAD8aJ5pPH2wBxsjp27lmknuwHpfPvY5WO+riacLBl6E0JEN58dHdj+4GasXXcu67WtREyPLOZ9VHn5u1nVhJmvAufwuVW+qV81VFmT82o8ONAiGv63zeBa+jHreIu01ZnVW28d3CcfEgmKRb5M0soLD7wSjFaL78HUS9eo2KfOxfoHSQLHpltZaWDiC6lG3MihieBRvx31n7f3pqlugNWnQnVQdg46puYKnihT2bzF6bvHnkfUkIXn/DBehiCGGiLDaL+h0Vb4q6mRuzyPSxMFCUwTTUWZLOTXqRSq2o+NlfnhjE0NuDw05ClYV0iolsDghGZyuESxOxcmmxaaZPLX3Ve/J/bh9zEayFFq+OMAeDIcT84nMKHGg7p7+Gj4KbcR+mnwGpqitEOSkXEgTwSbgjIs++toMmw+2EbN+k23j1KG6dgW/Fzceo4T0P5VmyjqiFAOaAgm4iC8dvC9v7gB1NG5dddc=
